table#t01 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td#t01, th#t01 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr#t01:nth-child(even) {
    background-color: #dddddd;
}

.tableWithBackground { 
	position: relative; 
}
	
.tableBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}